@import "../../../styles/variables.scss";
@import"../../../styles/mixins.scss";

.card{
  width:80%;
  border: 1px solid $secondaryColor;
  border-radius: 5px;
  padding: 14px;
  margin: 5px;
  @include flex(flex,space-around);

    &__img{
      width:50%;
      border: 1px solid black;
        img{
  
          width:100%;
            &:hover{
              transform:scale(1.1);
            }
      }

  } 
  &__title{
    max-width: 150px;
  }

}
//tablet
@media(min-width:451px) and (max-width:850px){
  .card{
    width: 40%;
  }
}
//desktop
@media(min-width:851px){
  .card{
    width: 27%;
  }
}